@media only screen and (max-width: 600px) {
  ul, li {
    display: block;
    margin: 0;
    padding: 0;
  }

  .background {
    background-image: url("../img/background1.jpg");
    width: 100%;
    height: 950px;
    //стилизуем header
    .header {
      display: flex;
      width: 100%;
      height: 100px;
      background-color: rgba(16, 16, 29, .9);

      &_container {
        width: 100%;
        padding: 0 50px;
      }

      &_row {
        display: flex
      }

      &_logo {

        p {
          font-family: "Raleway", sans-serif;
          color: white;
          font-size: 2em;
        }

        span {
          color: #42A9ED;
        }
      }
      //навигация
      nav{
        width: auto;
        padding-left: 150px;
        align-items: center;
        box-sizing: border-box;
        ul{
          box-sizing: border-box;
        }
      }
      &_menu {
        padding-top: 7%;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;


        .business {
          color: #43ABF0;
        }

        li {
          padding-top: 10px;
          padding-left: 40px;
          text-decoration: none;
          font-family: "Lato", sans-serif;
          font-size: 1em;
        }

        a {
          text-decoration: none;
          color: white;
        }
      }

    }
    .description{
      width: 100%;


      &_bigText{
        font-family: "Lato", sans-serif;
        padding-top: 115px;
        padding-left:50px;
        font-size: 3em;
      }
      &_about{

      }
      &_about--item{
        padding-left:50px;
        font-family: "Lato", sans-serif;
        font-size: 1.2em;
      }
      //стилизуем кнопки
      &_button{
        display: flex;
        padding-left:50px;
        padding-top: 30px;
      }
      &_button--item1{
        height: 42px;
        width: 178px;
        background-color: #3E9CDC;
        border-radius: 7px;
        color: white;
        font-family: "Lato", sans-serif;
        font-size: 1em;
        border: 1px solid white;
      }
      &_button--item2 {
        margin-left: 1%;
        padding-left: 17px;
        height: 42px;
        width: 178px;
        border-radius: 7px;
        font-family: "Lato", sans-serif;
        font-size: 1em;
        border: 1px solid black;
      }

    }
  }
  .background2 {
    .form{
      padding-left: 50px;
      .form_text{
        display: none;
      }
    }
  }

  }

@media only screen and (max-width: 375px) {
  ul, li {
    display: block;
    margin: 0;
    padding: 0;
  }

  .background {
    background-image: url("../img/background1.jpg");
    width: 100%;
    height: 950px;
    //стилизуем header
    .header {
      display: flex;
      width: 100%;
      height: 100px;
      background-color: rgba(16, 16, 29, .9);

      &_container {
        width: 100%;
        padding: 0;
      }

      &_row {
        display: flex
      }

      &_logo {

        p {
          font-family: "Raleway", sans-serif;
          color: white;
          font-size: 2em;
        }

        span {
          color: #42A9ED;
        }
      }
      //навигация
      nav{
        width: auto;
        padding-left: 150px;
        align-items: center;
        box-sizing: border-box;
        ul{
          box-sizing: border-box;
        }
      }
      &_menu {
        padding-top: 7%;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;


        .business {
          color: #43ABF0;
        }

        li {
          padding-top: 10px;
          padding-left: 40px;
          text-decoration: none;
          font-family: "Lato", sans-serif;
          font-size: 1em;
        }

        a {
          text-decoration: none;
          color: white;
        }
      }

    }
    .description{
      width: 100%;


      &_bigText{
        font-family: "Lato", sans-serif;
        padding-top: 115px;
        padding-left:50px;
        font-size: 3em;
      }
      &_about{

      }
      &_about--item{
        padding-left:50px;
        font-family: "Lato", sans-serif;
        font-size: 1.2em;
      }
      //стилизуем кнопки
      &_button{
        display: flex;
        padding-left:50px;
        padding-top: 30px;
      }
      &_button--item1{
        height: 42px;
        width: 178px;
        background-color: #3E9CDC;
        border-radius: 7px;
        color: white;
        font-family: "Lato", sans-serif;
        font-size: 1em;
        border: 1px solid white;
      }
      &_button--item2 {
        margin-left: 1%;
        padding-left: 17px;
        height: 42px;
        width: 178px;
        border-radius: 7px;
        font-family: "Lato", sans-serif;
        font-size: 1em;
        border: 1px solid black;
      }

    }
  }
  .background2 {
    .form{
      padding-left: 50px;
      .form_text{
        display: none;
      }
      .form_learn{
        display: none;
      }
      .form_img{
        display: none;
      }
      form{
        .form_inputsel{
          display: flex;
          flex-direction: column;
          padding-left: 100px;
          .select{
            .select__header{
              width: 500px;
            }
          }
          input{
            width: 488px;
          }
        }
      }

    }
  }

}





