@import "normalize.scss";

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.wrapper {
  background-image: url("../img/background1.jpg");
  width: 100%;
  height: 847px;
  // Header
  .header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgba(16, 16, 29, .9);

    .container {
      width: 100%;
      max-width: 1170px;
      margin: 0 auto;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__logo {
      p {
        font-family: "Raleway", sans-serif;
        color: white;
        font-size: 2em;
      }

      span {
        color: #42A9ED;
      }
    }

    // Navigation
    .nav {
      display: flex;

      &__link {
        margin-left: 50px;
      }

      .business {
        color: #43ABF0;
      }

      a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
      }
    }
  }
}
//Description
.description {
  width: 100%;


  &__bigText {
    font-family: "Lato", sans-serif;
    margin-top: 11%;
    font-size: 3em;
  }
  &__about{
    margin-top:5%;
  }

  &__about--item {
    margin-top:2%;
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
  }
//Button
  &__button {
    display: flex;
    margin-top:12%;
  }

  &__button--item1 {
    height: 42px;
    width: 178px;
    background-color: #3E9CDC;
    border-radius: 7px;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    border: 1px solid white;
  }

  &__button--item2 {
    margin-left: 1%;
    padding-left: 17px;
    height: 42px;
    width: 178px;
    border-radius: 7px;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    border: 1px solid black;
  }

}


//Block with input form
.wrapper-input {
  background-image: url("../img/background2.jpg");
  width: 100%;
  height: 100%;

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__order-registration {
      font-family: "Lato", sans-serif;
      font-size: 2.3em;

      p {
        color: white;
      }

      span {
        color: #3E9CDC;
      }

    }

    &__learn {
      font-family: 'Lato', sans-serif;
      font-size: 1.1em;
      color: #BBBBBB;

    }

    &__img {
      padding-top: 5%;

      img {
        height: 100%;
        width: 100%;
        max-width: 1170px;
      }
    }

    // Text description
    &__text {
      width: 100%;
      max-width: 1170px;
      padding-top: 2%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      p {
        color: white;
      }
    }
  }

//Select and Input
    .InputSelect {
      display: flex;
      padding-top: 5%;
      justify-content: flex-start;

      .select {
        position: relative;
        flex:1;

        &__header {
          border: 1px solid silver;
          cursor: pointer;
          display: flex;
          width: 90%;
          background-color: rgba(225, 225, 225, .8);
          border-radius: 5px;
          height: 45px;
          font-family: "Lato", sans-serif;

          &:hover {
            color: white;
            background-color: #3d4050;
            border-bottom: 0;
            border-top: 2px solid #3E9CDC;
            border-right: 2px solid #3E9CDC;
            border-left: 2px solid #3E9CDC;
            border-radius: 5px;

          }


          .select__current {
            font-size: 1.1em;
            line-height: 24px;
            padding: 8px;
          }

          .select__icon {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            justify-items: end;
            height: 40px;
            margin-left: 100px;
            width: 40px;
            border-radius: 5px;
          }
        }
      }

      .is-active {
        .select__body {
          display: block;
        }
      }

      .select__body {
        display: none;
        position: absolute;
        width: 90%;
        border: 2px solid #3E9CDC;
        border-top: 0;
        left: 0;
        right: 0;
        border-radius: 5px;
        background-color: rgba(39, 39, 51, .9);

        .select__item {
          cursor: pointer;
          font-size: 16px;
          line-height: 24px;
          padding: 8px;
          color: white;
          font-family: "Lato", sans-serif;

          &:hover {
            color: #3E9CDC;
          }
        }
      }
//Inputs with validation
      .input_Email {
        flex:1;
      }

      .input_Name {
       flex:1;
      }


      #email {
        margin-left: 0;
      }


      input {

        width: 90%;
        height: 42px;
        border-radius: 5px;
        background-color: rgba(225, 225, 225, .8);
        padding-right: 10px;


        &::placeholder {
          color: black;
          font-size: 1.1em;
          font-family: "Lato", sans-serif;
        }


      }

    }

    //Range
    .slider {
      padding-top: 3%;
      display: flex;



      &__form {
        width: 66%;


        .text {
          display: flex;
          flex-direction: row;
          padding-bottom: 4%;

          &__descr {
            flex: 15
          }

          &__75 {
            flex: 1;
          }

          label {
            color: white;
            font-size: 1.1em;
            font-family: "Lato", sans-serif;
          }
        }
          .range {
            -webkit-appearance: none; //update the style and draw the range again
            border: 2px solid white;
            border-radius: 10px;
            width: 98%;
            height: 2px;
            background-color: rgba(225, 225, 225, .8);
            outline: none;
          }

          //стилизуем ползунок
          .range::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 25px;
            height: 25px;
            background-color: #3E9CDC;
            border-radius: 20px;
            border: 5px solid #286690;

          }

        }





      //attached file
      &__attach {
        padding-left: 1%;


        //hiding the button
        .hide {
          position: absolute;
          overflow: hidden;
          z-index: 1;
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
        }

        //stylizing the text
        label {
          font-family: "Lato", sans-serif;
          font-size: 15px;
          padding-top: 14px;
          text-align: center;

          border: 3px solid #3E9CDC;
          display: inline-block;
          width: 355px;
          height: 38px;
          border-radius: 5px;
          background-color: white;

        }
      }
    }

    //the send button
    .button {
      display: flex;
      padding-top: 3%;
      justify-content: center;


      button {

        border: 3px solid white;
        background-color: #3E9CDC;
        border-radius: 3px;
        font-size: 15px;
        font-family: "Lato", sans-serif;
        color: white;
        width: 305px;
        height: 47px;
      }
    }


}


//дополнительные стили для js
.click {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 300px;
  height: 45px;
  font-family: "Lato", sans-serif;
  color: white;
  background-color: #3d4050;
  border-bottom: 0;
  border-top: 2px solid #3E9CDC;
  border-right: 2px solid #3E9CDC;
  border-left: 2px solid #3E9CDC;
  border-radius: 5px;
}

.icon {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: end;
  height: 40px;
  padding-left: 78px;
  text-align: center;
  width: 40px;
}


#error_email {
  margin-bottom: 20px;
  padding: 0;
  background-color: brown;
  text-align: center;
  font-size: 0.7em;
  transition: all 0.5s ease;
}

#error_name {
  margin-bottom: 20px;
  padding: 0;
  background-color: brown;
  text-align: center;
  font-size: 0.7em;
  transition: all 0.5s ease;
}