@import "normalize.scss";

@mixin font($font-size, $font-family, $color) {
  font-family: $font-family, sans-serif;
  font-size: $font-size;
  color: $color;
}

$primary-color: #3E9CDC;


.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}


.wrapper {
  background-image: url("../img/background1.jpg");
  width: 100%;
  height: 847px;
  @media only screen and (max-width: 450px) {
    height: 700px;
  }

  // Header
  .header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgba(16, 16, 29, .9);

    .container {
      width: 100%;
      max-width: 1170px;
      margin: 0 auto;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media only screen and (max-width: 715px) {
        justify-content: start;
        position: relative;
      }


    }

    &__logo {
      @include font(2em, "Raleway", white);
      @media only screen and (max-width: 715px) {
        font-size: 2em;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: 0;
      }

      &--blue {
        color: $primary-color;
      }
    }


    // Navigation
    .navigation-and-burger {
      @media only screen and (max-width: 715px) {
        position: absolute;
      }

      .nav {
        display: flex;
        @media only screen and (max-width: 715px) {
          display: none;
        }


        &__link {
          margin-left: 50px;
          text-decoration: none;
          @include font(1em, "Lato", white);
          text-transform: uppercase;
          @media only screen and (max-width: 715px) {
            padding-top: 20px;
            padding-bottom: 10px;
            padding-right: 20px;
            border-radius: 10px;
            text-decoration: none;
            margin-left: 50px;
            @include font(1em, "Lato", white);
            text-transform: uppercase;
          }

          &:hover {
            color: $primary-color;
          }


          &--active {
            color: $primary-color;

            &:hover {
              color: white;
            }
          }

        }
      }

      .active {
        @media only screen and (max-width: 715px) {
          display: flex;
          flex-direction: column;
          position: absolute;
          @include font(1em, "Raleway", white);
          background-color: rgba(16, 16, 29, .9);

          &__link {

            &:hover {
              color: $primary-color;
            }


            &--active {
              color: $primary-color;

              &:hover {
                color: white;
              }
            }

          }

        }
      }

      //burger menu
      .mobile-menu {
        display: none;
        @media only screen and (max-width: 715px) {
          display: block;
          margin-right: 3%;
        }
      }

      .menu-btn {
        display: block;
        width: 40px;
        height: 40px;
        background-color: $primary-color;
        border-radius: 50%;
        position: relative;

        &__open {
          display: block;
          width: 20px;
          height: 2px;
          background-color: white;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -10px;
          margin-top: -1px;
          transition: all 0.7s linear;


          &:before {
            display: block;
            width: 20px;
            height: 2px;
            background-color: white;
            content: " ";
            transform: translateY(-5px);
          }

          &:after {
            display: block;
            width: 20px;
            height: 2px;
            background-color: white;
            content: " ";
            transform: translateY(3px);
          }
        }
      }

      .burger-active {
        .menu-btn__open {
          width: 0;
          height: 0;

          &:before {
            width: 20px;
          }

          &:after {
            width: 20px;
          }

        }


      }

    }
  }
}

//Description
.description {
  width: 100%;
  @media only screen and (max-width: 950px) {
    text-align: center;
  }

  &__big-text {
    margin-top: 11%;
    @include font(3em, "Lato", black);
    font-weight: bold;
    @media only screen and (max-width: 715px) {
      font-size: 2em;
    }


    &--blue {
      color: $primary-color;
    }
  }

  &__about--content1 {
    margin-top: 2%;
    @include font(1.2em, "Lato", black);
    color: black;
    font-weight: bold;
  }

  &__about--content {
    margin-top: 2%;
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
    @include font(1.2em, "Lato", black);
  }

  //Button
  &__button--order {
    margin-top: 5%;
    height: 42px;
    width: 178px;
    background-color: $primary-color;
    border-radius: 7px;
    @include font(0.8em, "Lato", white);
    border: 1px solid white;
  }

  &__button--secondary {
    margin-top: 5%;
    margin-left: 1%;
    height: 42px;
    width: 178px;
    border-radius: 7px;
    border: 1px solid black;
    @include font(0.8em, "Lato", black);
  }
}

//Block with input form
.wrapper-input {
  background-image: url("../img/background2.jpg");
  width: 100%;
  height: 880px;
  @media only screen and (max-width: 450px) {
    height: 700px;
  }


  .description {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__order-registration {
      @include font(2.3em, "Lato", white);
      font-weight: bold;
      margin-top: 100px;


      &--blue {
        color: $primary-color;
      }

    }

    &__learn {
      @include font(1.1em, "Lato", #BBBBBB);
    }

    //img features

    .features {
      padding-top: 5%;
      max-width: 1170px;
      display: flex;
      flex-direction: row;
      overflow: hidden;
      @media only screen and (max-width: 950px) {
        width: 100%;
      }
      @media only screen and (max-width: 715px) {
        display: none;
      }

      &__item {
        width: 11.11%;
        text-align: center;

      }

      &__icon {
        width: 100px;
        height: 100px;
        @media only screen and (max-width: 950px) {
          width: 40px;
          height: 40px;
        }
      }

      &__icon--border-blue {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border: 5px solid #286690;
        @media only screen and (max-width: 950px) {
          width: 40px;
          height: 40px;
        }
      }

      &__title {
        @include font(1em, "Lato", white);
        @media only screen and (max-width: 950px) {
          font-size: 0.5em;
        }
      }

    }

  }

  //Select and Input
  .form-select {
    display: flex;
    padding-top: 3%;
    justify-content: flex-start;
    @media only screen and (max-width: 715px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }


    .select {
      position: relative;
      flex: 1;
      @media only screen and (max-width: 715px) {
        width: 60%;
        margin-bottom: 3%;
      }
      @media only screen and (max-width: 420px) {
        width: 80%;
        margin-bottom: 3%;
      }

      &__header {
        @include font(0.9em, "Lato", black);
        justify-content: space-between;
        border: 1px solid silver;
        cursor: pointer;
        display: flex;
        width: 90%;
        background-color: rgba(225, 225, 225, .8);
        border-radius: 5px;
        height: 45px;
        @media only screen and (max-width: 715px) {
          width: 100%;
        }

        &:hover {
          @include font(0.9em, "Lato", white);
          background-color: #3d4050;
          border-bottom: 0;
          border-top: 2px solid $primary-color;
          border-right: 2px solid $primary-color;
          border-left: 2px solid $primary-color;
          border-radius: 5px;
        }

        .select__current {
          font-size: 1.1em;
          line-height: 24px;
          padding: 8px;
        }

        .select__icon {
          align-items: center;
          display: flex;
          flex-shrink: 0;
          justify-items: end;
          height: 40px;
          width: 40px;
          border-radius: 5px;
        }
      }
    }

    .is-active {
      .select__body {
        display: block;
      }
    }

    .select__body {
      display: none;
      position: absolute;
      width: 90%;
      border: 2px solid $primary-color;
      border-top: 0;
      left: 0;
      right: 0;
      border-radius: 5px;
      background-color: rgba(39, 39, 51, .9);
      @media only screen and (max-width: 715px) {
        width: 100%;
      }


      .select__item {
        cursor: pointer;
        line-height: 24px;
        padding: 8px;
        @include font(1em, "Lato", white);
      }

      .select__caption {
        cursor: pointer;
        line-height: 24px;
        padding: 8px;
        @include font(1em, "Lato", white);

        &:hover {
          color: $primary-color;
        }
      }
    }

    //Inputs with validation
    .input-email {
      flex: 1;
      width: 90%;
      height: 42px;
      border-radius: 5px;
      background-color: rgba(225, 225, 225, .8);
      margin-right: 2%;
      @media only screen and (max-width: 715px) {
        margin-right: 0;
        width: 60%;
        height: 42px;
        flex: none;
        margin-bottom: 3%;
      }
      @media only screen and (max-width: 420px) {
        width: 70%;
      }

      &::placeholder {
        padding-left: 7px;
        @include font(1em, "Lato", black);
      }
    }

    .input-name {
      flex: 1;
      width: 90%;
      height: 42px;
      border-radius: 5px;
      background-color: rgba(225, 225, 225, .8);
      @media only screen and (max-width: 715px) {
        margin-right: 0;
        width: 60%;
        height: 42px;
        flex: none;
        margin-bottom: 3%;
      }
      @media only screen and (max-width: 420px) {
        width: 70%;
      }

      &::placeholder {
        padding-left: 7px;
        @include font(1em, "Lato", black);
      }
    }
  }

  //Range
  .slider {
    padding-top: 3%;
    display: flex;
    @media only screen and (max-width: 715px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__form {
      width: 66%;
      @media only screen and (max-width: 420px) {
        width: 100%;
      }

      .text {
        display: flex;
        flex-direction: row;
        padding-bottom: 4%;

        &__for-slider {
          flex: 15;
          @include font(1.1em, "Lato", white);
          @media only screen and (max-width: 715px) {
            padding-left: 5%;
          }

        }

        &__icon-slider {
          flex: 1;
          @include font(1.1em, "Lato", white);
          @media only screen and (max-width: 715px) {
            padding-right: 4%;
          }

        }
      }

      .range {
        -webkit-appearance: none; //update the style and draw the range again
        border: 2px solid white;
        border-radius: 10px;
        width: 98%;
        height: 2px;
        background-color: rgba(225, 225, 225, .8);
        outline: none;
        @media only screen and (max-width: 715px) {
          width: 90%;
          margin-left: 5%;
          margin-bottom: 5%;
        }
      }

      //стилизуем ползунок
      .range::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 25px;
        height: 25px;
        background-color: $primary-color;
        border-radius: 20px;
        border: 4px solid #286690;
      }
    }

    //attached file
    &__attach--hide {
      padding-left: 2%;
      position: relative;
      text-align: center;
      display: flex;
      align-items: center;
      @media only screen and (max-width: 715px) {
        padding-left: 0;
      }
      //hiding the button
      .hide {
        position: absolute;
        overflow: hidden;
        z-index: 1;
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
      }

      //stylizing the text
      .slider__attach--visible {
        padding-top: 25px;
        text-align: center;
        border: 2px solid $primary-color;
        display: inline-block;
        width: 372px;
        height: 38px;
        border-radius: 5px;
        background-color: white;
        @include font(0.9em, "Lato", black);
        @media only screen and (max-width: 715px) {
          width: 228px;
        }
      }
      .slider__attach-icon {
        position: absolute;
        height: 23px;
        left: 27%;
        @media only screen and (max-width: 715px) {
          left: 10%;
        }
      }
    }
  }

  //the send button
  .button {
    display: flex;
    text-align: center;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    background-color: $primary-color;
    border-radius: 3px;
    width: 305px;
    height: 47px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    @include font(0.9em, "Lato", white);
    @media only screen and (max-width: 715px) {
      width: 228px;
    }
  }
}

//footer
.footer {
  background-image: url("../img/footer.svg");
  width: 100%;
  height: 80px;


  .container {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;


    &__rights {
      display: flex;
      align-items: center;
      flex: 1;
      border-right: 1px solid white;
      margin-right: 2%;
      @include font(0.9em, "Lato", white);
      @media only screen and (max-width: 715px) {
        border-right: none;
        justify-content: center;
        display: none;
      }
    }


    &__payment {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      @include font(0.9em, "Lato", white);
      @media only screen and (max-width: 950px) {
        display: none;
      }

      &__payment-method {
        display: flex;
        flex-direction: row;
        flex: 1;
      }

      .img-payment {
        height: 13px;
        margin-right: 5px;
      }
    }

    &__communication {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex: 1;
      border-left: 1px solid white;
      margin-left: 2%;
      @include font(0.9em, "Lato", white);
      @media only screen and (max-width: 950px) {
        border-left: none;
        justify-content: center;
      }

      &--mail {
        text-decoration: none;
        color: white;

        &:hover {
          color: black;
        }
      }
      .img-contact-vk {
        @media only screen and (max-width: 420px) {
          display: none;
        }
      }
      &--vk {
        text-decoration: none;
        color: white;
        @media only screen and (max-width: 420px) {
         display: none;
        }

        &:hover {
          color: black;
        }
      }

      .mail {
        padding-right: 18%;
      }

      .img-contact {
        margin-right: 5px;
        height: 13px;
      }
      .img-contact-vk {
        margin-right: 5px;
        height: 13px;
      }
    }
  }
}


//дополнительные стили для js
.click {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 300px;
  height: 45px;
  background-color: #3d4050;
  border-bottom: 0;
  border-top: 2px solid $primary-color;
  border-right: 2px solid $primary-color;
  border-left: 2px solid $primary-color;
  border-radius: 5px;
  @include font(0.9em, "Lato", white);
}



