@import "normalize.scss";
@import "responsive.scss";

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.basic_color {
  color: #3E9CDC !important;
}

.wrapper {
  background-image: url("../img/background1.jpg");
  width: 100%;
  height: 847px;
  // Header
  .header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgba(16, 16, 29, .9);

    .container {
      width: 100%;
      max-width: 1170px;
      margin: 0 auto;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__logo {
      font-family: "Raleway", sans-serif;
      color: white;
      font-size: 2em;
    }

    // Navigation
    .nav {
      display: flex;

      &__link {
        margin-left: 50px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
      }
    }
  }
}

//Description
.description {
  width: 100%;

  &__bigtext {
    font-family: "Lato", sans-serif;
    margin-top: 11%;
    font-size: 3em;
    font-weight: bold;
  }

  &__about--content1 {
    margin-top: 2%;
    font-family: "Lato", sans-serif, bo;
    font-size: 1.2em;
    font-weight: bold;
  }

  &__about--content {
    margin-top: 2%;
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
  }

  //Button
  &__button--order {
    margin-top: 5%;
    height: 42px;
    width: 178px;
    background-color: #3E9CDC;
    border-radius: 7px;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    border: 1px solid white;
  }

  &__button--more {
    margin-top: 5%;
    margin-left: 1%;
    padding-left: 17px;
    height: 42px;
    width: 178px;
    border-radius: 7px;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    border: 1px solid black;
  }
}

//Block with input form
.wrapper-input {
  background-image: url("../img/background2.jpg");
  width: 100%;
  height: 880px;

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__order-registration {
      font-family: "Lato", sans-serif;
      font-size: 2.3em;
      color: white;
      font-weight: bold;
    }

    &__learn {
      font-family: 'Lato', sans-serif;
      font-size: 1.1em;
      color: #BBBBBB;
    }

    //убрать
    &__img {
      padding-top: 5%;

      img {
        height: 100%;
        width: 100%;
        max-width: 1170px;
      }
    }

    //убрать img

    // Text description
    &__information {
      width: 100%;
      max-width: 1170px;
      padding-top: 2%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: white;
    }
  }

  //Select and Input
  .form_select {
    display: flex;
    padding-top: 5%;
    justify-content: flex-start;

    .select {
      position: relative;
      flex: 1;

      &__header {
        justify-content: space-between;
        border: 1px solid silver;
        cursor: pointer;
        display: flex;
        width: 90%;
        background-color: rgba(225, 225, 225, .8);
        border-radius: 5px;
        height: 45px;
        font-family: "Lato", sans-serif;

        &:hover {
          color: white;
          background-color: #3d4050;
          border-bottom: 0;
          border-top: 2px solid #3E9CDC;
          border-right: 2px solid #3E9CDC;
          border-left: 2px solid #3E9CDC;
          border-radius: 5px;
        }

        .select__current {
          font-size: 1.1em;
          line-height: 24px;
          padding: 8px;
        }

        .select__icon {
          align-items: center;
          display: flex;
          flex-shrink: 0;
          justify-items: end;
          height: 40px;
          width: 40px;
          border-radius: 5px;
        }
      }
    }

    .is-active {
      .select__body {
        display: block;
      }
    }

    .select__body {
      display: none;
      position: absolute;
      width: 90%;
      border: 2px solid #3E9CDC;
      border-top: 0;
      left: 0;
      right: 0;
      border-radius: 5px;
      background-color: rgba(39, 39, 51, .9);

      .select__item {
        cursor: pointer;
        font-size: 16px;
        line-height: 24px;
        padding: 8px;
        color: white;
        font-family: "Lato", sans-serif;
      }

      .select__caption {
        cursor: pointer;
        font-size: 16px;
        line-height: 24px;
        padding: 8px;
        color: white;
        font-family: "Lato", sans-serif;

        &:hover {
          color: #3E9CDC;
        }
      }
    }

    //Inputs with validation
    .input_Email {
      flex: 1;
      width: 90%;
      height: 42px;
      border-radius: 5px;
      background-color: rgba(225, 225, 225, .8);
      margin-right: 2%;

      &::placeholder {
        color: black;
        font-size: 1.1em;
        font-family: "Lato", sans-serif;
      }
    }

    .input_Name {
      flex: 1;
      width: 90%;
      height: 42px;
      border-radius: 5px;
      background-color: rgba(225, 225, 225, .8);

      &::placeholder {
        color: black;
        font-size: 1.1em;
        font-family: "Lato", sans-serif;
      }
    }
  }

  //Range
  .slider {
    padding-top: 3%;
    display: flex;

    &__form {
      width: 66%;

      .text {
        display: flex;
        flex-direction: row;
        padding-bottom: 4%;

        &__for_slider {
          flex: 15;
          color: white;
          font-size: 1.1em;
          font-family: "Lato", sans-serif;
        }

        &__icon-slider {
          flex: 1;
          color: white;
          font-size: 1.1em;
          font-family: "Lato", sans-serif;
        }
      }

      .range {
        -webkit-appearance: none; //update the style and draw the range again
        border: 2px solid white;
        border-radius: 10px;
        width: 98%;
        height: 2px;
        background-color: rgba(225, 225, 225, .8);
        outline: none;
      }

      //стилизуем ползунок
      .range::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 25px;
        height: 25px;
        background-color: #3E9CDC;
        border-radius: 20px;
        border: 5px solid #286690;
      }
    }

    //attached file
    &__attach--hide {
      padding-left: 2%;
      //hiding the button
      .hide {
        position: absolute;
        overflow: hidden;
        z-index: 1;
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
      }

      //stylizing the text
      .slider__attach--visible {
        font-family: "Lato", sans-serif;
        font-size: 15px;
        padding-top: 14px;
        text-align: center;
        border: 3px solid #3E9CDC;
        display: inline-block;
        width: 372px;
        height: 38px;
        border-radius: 5px;
        background-color: white;

      }
    }
  }

  //the send button
  .button {
    display: flex;
    text-align: center;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    background-color: #3E9CDC;
    border-radius: 3px;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    color: white;
    width: 305px;
    height: 47px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

//footer
.footer {
  background-image: url("../img/footer.png");
  width: 100%;
  height: 80px;

  .container {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__rights {
      color: white;
      display: flex;
      align-items: center;
      font-size: 0.9em;
      flex: 1;
      border-right:1px solid white;
      margin-right: 2%;
    }

    &__payment {
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 0.9em;
      flex: 1;

      &__payment_method {
        display: flex;
        flex-direction: row;
        flex: 1;
      }

      .img_payment {
        margin-right: 5px;
      }
    }

    &__communication {
      display: flex;
      flex-direction: row;
      font-size: 0.9em;
      justify-content: flex-end;
      flex: 1;
      border-left:1px solid white;
      margin-left: 2%;

      .container__communication--contact_us {
        text-decoration: none;
        color: white;
      }

      .contact_us {
        padding-right: 18%;
      }

      .img_contact {
        margin-right: 5px;
      }
    }
  }
}


//дополнительные стили для js
.click {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 300px;
  height: 45px;
  font-family: "Lato", sans-serif;
  color: white;
  background-color: #3d4050;
  border-bottom: 0;
  border-top: 2px solid #3E9CDC;
  border-right: 2px solid #3E9CDC;
  border-left: 2px solid #3E9CDC;
  border-radius: 5px;
}



